/* login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
} */


.side-image {
  background-image: url("./LoginLogo.png"), url("LoginForm.jpg");
  background-repeat: no-repeat;
  background-color: gray;
  background-size: 'cover';
  background-position: center;
  height: auto;
  max-width: 100%;
}

.main {
  height: 100vh;
}

.login-form {
  width: 100%;
  margin-top: 8px;
  
}

.login-button {
  margin: 24px 0px 16px;
}

.paper {
  margin: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}